.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.standout {
  box-shadow: rgba($color: #000000, $alpha: 0.16) 0px 1px 4px,
    rgb(51, 51, 51) 0px 0px 0px 3px;
}
